.ui-widget-header {
    border: none !important;
    background: white;
    color: #333333;
    font-weight: bold;
}
ui-dialog-titlebar-close{
    color:black;
}
#dialog {
    width:200px;
    display: flex;
    align-items: center;
}