@media print {
    #muestra {
        margin: 20px 30px 0px 20px;
    }

    .Titulo {
        width: auto;
        height: 30px;
        font-weight: bold;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: green;
        text-transform: uppercase;
        line-height: 20px;
    }

    .SubTitulo {
        width: auto;
        height: 30px;
        font-weight: bold;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-style: italic;
        color: red;
        text-transform: capitalize;
        line-height: 20px;
    }

    .Items {
        width: auto;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-transform: capitalize;
        line-height: 20px;
    }

    img {
        display: block;
        margin: auto;
    }

    #ImageButton1 {
        display: none;
    }

    #boton {
        display: none;
    }

    h3 {
        page-break-before: always;
        width: auto;
        text-align:justify;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-transform: capitalize;
        line-height: 20px;
    }

     #encabezado {
         width: auto;
        height: 30px;
        font-weight: bold;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: red;
        text-transform: uppercase;

    }

    /*ul {
            list-style-type: circle;
            column-count: 2;
            width: auto;
            text-align:center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            text-transform: capitalize;
        }*/
}
