<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections />
 
    <connectionStrings>
      <!--<add name="AmbientHouseEntities" connectionString="metadata=res://*/Entidades.AmbientHouse.csdl|res://*/Entidades.AmbientHouse.ssdl|res://*/Entidades.AmbientHouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=V2SIS52W10\MSSQLSERVER2012;initial catalog=Prueba;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="AHEntities" connectionString="metadata=res://*/Entidades.AH.csdl|res://*/Entidades.AH.ssdl|res://*/Entidades.AH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CMHHDDJ\MSSQL2012;initial catalog=Ambient;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="AmbientHouse" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=w230092_AmbientHouse;Integrated Security=SSPI;Min Pool Size=5;Max Pool Size=60;Connect Timeout=30" providerName="System.Data.SqlClient" />-->
		<add name="AmbientHouseEntities" connectionString="metadata=res://*/Entidades.AmbientHouse.csdl|res://*/Entidades.AmbientHouse.ssdl|res://*/Entidades.AmbientHouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=w230092_AmbientHouse;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="AmbientHouse" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=w230092_AmbientHouse;Integrated Security=SSPI;Min Pool Size=5;Max Pool Size=60;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="AHEntities" connectionString="metadata=res://*/Entidades.AH.csdl|res://*/Entidades.AH.ssdl|res://*/Entidades.AH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CMHHDDJ\MSSQL2012;initial catalog=Ambient;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    </connectionStrings>
    <appSettings>
    <add key="coeficienteRoyalty" value="2" />
    <add key="ValorARevisarPresupuesto" value="2000000" />
    <!--LIQUIDACION HORAS-->
    <add key="LiquidacionHorasPendiente" value="1056" />
    <add key="LiquidacionHorasAprobado" value="1057" />
    <add key="LiquidacionHorasLiquidada" value="1058" />
    <add key="LiquidacionHorasAjustada" value="1059" />
    <!--USUARIOS-->
    <add key="UsuarioAlejandro" value="6" />
    <add key="UsuarioFabiana" value="10" />
    <add key="UsuarioNahuel" value="19" />
    <add key="UsuarioHernan" value="10" />
    <add key="UsuarioLucas" value="19" />
    <!--OTROS-->
    <add key="OtroCliente" value="8" />
    <add key="TipoEventoOtro" value="13" />
    <add key="LocacionOtro" value="44" />
    <add key="TECNICAOTRA" value="13" />
    <add key="ProveedorOTRO" value="11" />
    <add key="FormadePagoCONTADO" value="1" />
    <add key="IVA21" value="1,21" />
    <!--TIPO IMPUESTO-->
    <add key="IVA21Porciento" value="1" />
    <add key="IVA27Porciento" value="2" />
    <add key="IVA105Porciento" value="3" />
    <!--EMPRESAS-->
    <add key="EmpresaOtra" value="3" />
    <!--TIPO MOVIMIENTO-->
    <add key="CuentaClientes" value="55" />
    <add key="CuentaRetencionesIVA" value="127" />
    <add key="CuentaRetencionesIIBB" value="124" />
    <add key="CuentaRetencionesSUSS" value="126" />
    <add key="CuentaRetencionesGanancias" value="125" />
    <add key="CuentaImpuestoMusicales" value="120" />
    <add key="CuentaCanon" value="123" />
    <add key="CuentaVallet" value="122" />
    <add key="CuentaDeudas" value="27" />
    <add key="CuentaRetencionesIIBBARBA" value="132" />
    <add key="CuentaGASTOSREPRESENTACION" value="63" />
    <add key="CuentaDIFERENCIACAMBIO" value="145" />
    <add key="CuentaPrestamos" value="144" />
    <add key="CuentaOTROSINGRESOS" value="146" />
    <add key="CuentaAJUSTE" value="152" />
    <add key="Propina" value="151" />
    <add key="CuentaDEPOSITOENGARANTIA" value="151" />
    <!--RUBROS-->
    <add key="RubroSalon" value="7" />
    <add key="RubroAmbientacion" value="1" />
    <add key="RubroBarras" value="6" />
    <add key="RubroCatering" value="3" />
    <add key="RubroTecnica" value="2" />
    <add key="RubroArtistica" value="4" />
    <add key="RubroAudioVisual" value="5" />
    <add key="RubroOrganizacion" value="8" />
    <add key="RubroAdicional" value="9" />
    <add key="RubroAjustes" value="10" />
    <!--DEPARTAMENTOS-->
    <add key="DeptoVentas" value="1" />
    <add key="DeptoGerencia" value="2" />
    <add key="DeptoAdministracion" value="3" />
    <!--FACTURAS CLIENTE-->
    <add key="FacturaPendiente" value="1061" />
    <add key="FacturaPaga" value="1062" />
    <add key="FacturaAnulada" value="1063" />
    <!--GENERAL-->
    <add key="Activo" value="1" />
    <add key="NoActivo" value="2" />
    <!--ESTADOS Produccion-->
    <add key="EstadoActivo" value="1" />
    <add key="EstadoAsignado" value="7" />
    <add key="EstadoEnviado" value="8" />
    <add key="EstadoReservado" value="4" />
    <add key="EstadoConfirmado" value="2" />
    <add key="EstadoPerdido" value="3" />
    <add key="EstadoCerrado" value="14" />
    <add key="EstadoRealizado" value="42" />
    <add key="EstadoAlertaActivada" value="15" />
    <add key="EstadoAlertaDesactivada" value="16" />
    <add key="EstadoPresupuestoAprobado" value="11" />
    <add key="EstadoPresupuestoEnviadoalCliente" value="13" />
    <add key="EstadoPresupuestoRechazado" value="12" />
    <add key="EstadoPresupuestoVencido" value="17" />
    <add key="EstadoPresupuestoGuardado" value="20" />
    <add key="EstadoPresupuestoARevisar" value="1060" />
    <add key="Baja" value="31" />
    <add key="PresupuestoDetallePendiente" value="23" />
    <add key="PresupuestoDetalleAprobado" value="24" />
    <add key="PresupuestoDetalleCobrado" value="43" />
    <add key="ComentarioActivo" value="18" />
    <add key="ComentarioDesactivo" value="19" />
    <!--LOCACIONES-->
    <add key="Lahusen" value="24" />
    <add key="TOM" value="26" />
    <add key="OTRA" value="44" />
    <add key="NH" value="45" />
    <add key="GALPONMILAGROS" value="37" />
    <add key="BNN" value="50" />
    <add key="BarraBNN" value="2182" />
    <add key="ElDorado" value="87" />
    <add key="BarraElDorado" value="5462" />
    <add key="UsuarioActivo" value="5" />
    <add key="UsuarioNoActivo" value="6" />
    <add key="AdicionalActivo" value="15" />
    <add key="AdicionalNoActivo" value="16" />
    <add key="SinDatos" value="Sin Datos" />
    <add key="ProductoActivo" value="21" />
    <add key="ProductoInactivo" value="22" />
    <add key="ProductoSalonSinCosto" value="159478" />
    <add key="ProductoInvitados" value="271583" />
    <!--<add key="ProductoInvitados" value="164721" />-->
    <!--TIPO CATERING-->
    <add key="TipoCateringActivo" value="32" />
    <add key="TipoCateringInactivo" value="33" />
    <!--CONFIG CATERING TECNICA-->
    <add key="configuracionTecnicaCateringACTIVO" value="34" />
    <add key="configuracionTecnicaCateringINACTIVO" value="35" />
    <add key="ComprobanteInterno" value="3" />
    <add key="PLMENOS5" value="0,95" />
    <add key="PLMENOS10" value="0,90" />
    <add key="FormaPagoEfectivo" value="1" />
    <add key="FormaPagoCheque" value="2" />
    <add key="FormaPagoTransferencia" value="3" />
    <add key="FormaPagoChequeTercero" value="4" />
    <add key="FormaPagoRetenciones" value="5" />
    <!--TIPO EVENTO-->
    <add key="Auditorio" value="14" />
    <add key="Congreso" value="15" />
    <add key="FeriaExposiciones" value="16" />
    <!--Segmentos-->
    <add key="Social" value="2" />
    <add key="Corporativo" value="1" />
    <!--Caracteristicas-->
    <add key="Formal" value="1" />
    <add key="Informal" value="2" />
    <!--Categorias-->
    <add key="CategoriasActivo" value="1044" />
    <add key="CategoriasInactivo" value="1045" />
    <!--Ambientacion Corporativa Informal-->
    <add key="AmbientacionCIActivo" value="1046" />
    <add key="AmbientacionCIInactivo" value="1047" />
    <!--ITEMS-->
    <add key="ItemActivo" value="36" />
    <add key="ItemInactivo" value="37" />
    <!--TipoCateringTiempoProductoItem-->
    <add key="TipoCateringTiempoProductoItemctivo" value="38" />
    <add key="TipoCateringTiempoProductoItemInactivo" value="39" />
    <!--TipoCateringTiempoProductoItem-->
    <add key="TipoBarraCategoriaItemActivos" value="40" />
    <add key="TipoBarraCategoriaItemInactivos" value="41" />
    <add key="ComprobanteProveedorPagado" value="25" />
    <add key="ComprobanteProveedorPendiente" value="26" />
    <add key="ComprobanteProveedorPagoParcial" value="1053" />
    <!--TipoEmpleado-->
    <add key="TipoEmpleadoCoordinador" value="8" />
    <add key="TipoEmpleadoRespCocina" value="10" />
    <add key="TipoEmpleadoRespSalon" value="5" />
    <add key="TipoEmpleadoRespBarra" value="6" />
    <add key="TipoEmpleadoRespOperaciones" value="9" />
    <add key="TipoEmpleadoRespLogistica" value="7" />
    <!--PAGOS CLIENTES ESTADOS-->
    <add key="PagoClienteEfectuado" value="1054" />
    <add key="PagoClientePendiente" value="1055" />
    <add key="ChequesPagado" value="27" />
    <add key="ChequesPendiente" value="28" />
    <!--PERFILES-->
    <add key="CoordinadorVentas" value="1" />
    <add key="Ejecutivo" value="2" />
    <add key="Organizador" value="3" />
    <add key="CallCenter" value="4" />
    <add key="Gerencial" value="5" />
    <add key="Administracion" value="6" />
    <add key="Operacion" value="7" />
    <add key="CoordinadorOrganizacion" value="8" />
    <add key="ProveedorCateringAmbient" value="1" />
    <add key="Stock" value="9" />
    <add key="StockCarga" value="10" />
    <add key="Gestor" value="11" />
    <!--Logistica con Camion Permanente-->
    <add key="LogisticaPorDefecto" value="2" />
    <!--DEGUSTACION-->
    <add key="DegustacionAbierta" value="1048" />
    <add key="DegustacionCerrada" value="1049" />
    <!--DEGUSTACION DETALLE-->
    <add key="DegustacionDetallePendiente" value="1050" />
    <add key="DegustacionDetalleConfirmado" value="1051" />
    <add key="DegustacionDetalleCancelado" value="1052" />
    <add key="FormatoddMMyyyy" value="{0:dd/MM/yyyy}" />
    <add key="localhost" value="dtc023.ferozo.com" />
    <add key="Port" value="25" />
    <add key="MailFrom" value="sistemas@aplicaciononline.net" />
    <add key="fileExtensionMaxSize" value="10" />
    <add key="ValidExtenssionUploadFile" value=".jpg .jpeg .png .bmp .gif .giff .tif .tiff .dib" />
    <add key="FilePath" value="~/FilesUpload/" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="1073741824" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-AR" uiCulture="es-AR" />
    <customErrors mode="Off" />
    <!--<customErrors mode="On" defaultRedirect="~/Error/ErrorPage.aspx">
      <error statusCode="404" redirect="~/Error/404.aspx" />
      <error statusCode="500" redirect="~/Error/500.aspx" />
    </customErrors>-->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <!--<system.net>


    <mailSettings>

      <smtp from="sistemas@aplicaciononline.net">

        <network host="localhost" port="25" userName="sistemas@aplicaciononline.net" password="SenGdo17" defaultCredentials="true" />

      </smtp>

    </mailSettings>

  </system.net>-->
  <system.transactions>
    <defaultSettings timeout="00:01:00" />
  </system.transactions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>