<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AmbientHouseEntities" connectionString="metadata=res://*/Entidades.AmbientHouse.csdl|res://*/Entidades.AmbientHouse.ssdl|res://*/Entidades.AmbientHouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Ambient_GROUP;integrated security=True;min pool size=5;max pool size=60;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>