<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AmbientHouseEntities" connectionString="metadata=res://*/Entidades.AmbientHouse.csdl|res://*/Entidades.AmbientHouse.ssdl|res://*/Entidades.AmbientHouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=V2SIS52W10\MSSQLSERVER2012;initial catalog=w1081835_Ambient_GROUP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
