<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AmbientHouseEntities" connectionString="metadata=res://*/Entidades.AmbientHouse.csdl|res://*/Entidades.AmbientHouse.ssdl|res://*/Entidades.AmbientHouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RUA0S43\SQLEXPRESS;initial catalog=w230092_AmbientHouse;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>