<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AHEntities" connectionString="metadata=res://*/Entidades.AH.csdl|res://*/Entidades.AH.ssdl|res://*/Entidades.AH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(Local);initial catalog=PruebaTest;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>